<div class="fluid-container global-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="footer-logo"></div>
      </div>
      <div class="col-lg-6 clearfix">
        <select class="lang-switch pull-right">
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <span class="footer-text copyright">
          &copy; 2011-<%= date(new Date(), 'YYYY') %> Alibaba Inc. All rights reserved.
        </span>
        <span class="footer-text design-by">Designed by 阿里云UED AX</span>
      </div>
    </div>
  </div>
</div>

