<div class="fluid-container global-header">
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <% for (var i in theme.menu){ %>
                    <li role="presentation"><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
                    <% } %>
                    <li role="presentation" class="hide"><a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
                </ul>
            </nav>
            <h1 class="text-muted site-logo"><a href="<%- url_for() %>" id="logo"><%= config.title %></a></h1>
        </div>
    </div>
</div>
